<div class = "row">
<% if comments.present? %>
  <% comments.each do |comment| %>
    <div class ="col-lg-4">
      <div class = "card mt-3 shadow-sm">
        <p class = "card-title"><%= comment.user.name %>さんからのコメント</p>
        <p class = "card-text"><%= comment.comment %>
          <% if comment.user == current_user %>
          <%= link_to "削除", shop_comment_path(comment.shop, comment), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
  </div>
  <% else %>
   コメントはありません
  <% end %>