<%= search_form_for q do |f| %>
  <div class = "input-group">
    <%= f.search_field :name_or_address_cont, placeholder: "店舗名または都道府県を入力", class: "form-control" %>
  <span class = "input-group-btn">
    <%= f.button type: :submit, class: "btn btn-primary" do %>
       <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  </span>
  </div>
<% end %>