<div class = "container">
  <div class = "row mt-5">
    <h3>店舗詳細</h3>
  </div>
</div>
 <%= render "shops/list", shop: @shop %>
 <div class  = "container">
   <div class = "row">
     <h4>マップ</h4>
   </div>
 </div>