<div class = "container">
  <div class = "row mt-5">
    <div class= "col">
      <h3>"<%= @tag.name %>"の店舗一覧</h3>
    </div>
    </div>
    <div class = "shops">
      <%= render "shops/shop", shops: @shops %>
    </div>
    <div class = "row justify-content-center">
      <%= paginate @shops %>
    </div>
</div>