<div class = "container">
  <div class="d-flex align-items-center justify-content-center" style="height:400px;">
    <h1>Chill Coffee</h1>
  </div>
  <div class = "text-center">
    <p>
      ようこそChill Coffeeへ!<br>
      このサイトでは喫茶店を探すことができます。<br>
      タグのリンクを押すとタグの店舗一覧を探すことができます。<br>
    </p>
  </div>
  <div class = "row">
    <div class = "col-8 mx-auto">
      <%= render "shops/search_form", q: @q%>
    </div>
  </div>
  <div class = "row">
    <%= link_to "喫茶店一覧", shops_path, class: "btn btn-primary btn-blok col-7 mt-3 mx-auto"%>
  </div>
  </div>