@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item{
  margin-right: 5px;
}


.shop-item{
  border-top : solid 
  #cccccc 1px;
  border-bottom: solid
  #cccccc 1px;
}
