@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 120px;
  background-color: #87cefa;
  text-align: center;
}

.nav-item{
  margin-right: 5px;
}


.shop-item{
  border-top : solid
  #cccccc 1px;
  border-bottom: solid
  #cccccc 1px;
}

